/* =Mixins
-----------------------------------------------------------------------------*/
.text2 {
  overflow: hidden;
  text-overflow: ellipsis;
}
.text1 {
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
}
.text3 {
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  white-space: nowrap;
}
/* =Calendar
-----------------------------------------------------------------------------*/
.pika-single {
  box-sizing: border-box;
  z-index: 9999;
  position: relative;
  width: 202px;
  padding: 6px;
  color: #555;
  background: #fff;
  border: 1px solid #95B8E7;
}
.pika-single.is-hidden {
  display: none;
}
.pika-single.is-bound {
  position: absolute;
  box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.5);
}
.pika-single .pika-title {
  position: relative;
  text-align: center;
}
.pika-single .pika-title select {
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 5px;
  z-index: 9998;
  opacity: 0;
}
.pika-single .pika-title .pika-label {
  display: inline-block;
  position: relative;
  overflow: hidden;
  padding: 5px 10px;
  line-height: 20px;
  font-size: 15px;
  font-weight: bold;
}
.pika-single .pika-title .pika-select {
  display: inline-block;
}
.pika-single .pika-title .pika-prev {
  float: left;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAUklEQVR42u3VMQoAIBADQf8Pgj+OD9hG2CtONJB2ymQkKe0HbwAP0xucDiQWARITIDEBEnMgMQ8S8+AqBIl6kKgHiXqQqAeJepBo/z38J/U0uAHlaBkBl9I4GwAAAABJRU5ErkJggg==');
}
.pika-single .pika-title .pika-next {
  float: right;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAU0lEQVR42u3VOwoAMAgE0dwfAnNjU26bYkBCFGwfiL9VVWoO+BJ4Gf3gtsEKKoFBNTCoCAYVwaAiGNQGMUHMkjGbgjk2mIONuXo0nC8XnCf1JXgArVIZAQh5TKYAAAAASUVORK5CYII=');
}
.pika-single .pika-title .pika-prev,
.pika-single .pika-title .pika-next {
  display: block;
  position: relative;
  width: 20px;
  height: 30px;
  text-indent: 20px;
  white-space: nowrap;
  opacity: .5;
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 75% 75%;
  cursor: pointer;
}
.pika-single .pika-title .pika-prev:hover,
.pika-single .pika-title .pika-next:hover {
  opacity: 1;
}
.pika-single .pika-title .pika-prev.is-disabled,
.pika-single .pika-title .pika-next.is-disabled {
  opacity: .2;
}
.pika-single .pika-table {
  width: 100%;
}
.pika-single .pika-table th,
.pika-single .pika-table td {
  width: 14.285714285714286%;
}
.pika-single .pika-table th {
  color: #555;
  font-size: 14px;
  font-weight: bold;
  line-height: 25px;
  text-align: center;
}
.pika-single .pika-table td .pika-button {
  width: 100%;
  padding: 5px;
  font-size: 14px;
  line-height: 15px;
  text-align: right;
  background: #E0ECFF;
  color: #555;
  cursor: pointer;
}
.pika-single .pika-table td .pika-button:hover {
  color: #fff;
  background: #f89406;
  border-radius: 3px;
}
.pika-single .pika-table td.is-today .pika-button {
  color: #049cdb;
}
.pika-single .pika-table td.is-selected .pika-button {
  color: #fff;
  background: #049cdb;
  border-radius: 3px;
}
.pika-single .pika-table td.is-disabled .pika-button {
  pointer-events: none;
  cursor: default;
  color: #A6A6A6;
  opacity: .3;
}
.pika-single .timeAera {
  font-size: 12px;
  font-weight: bold;
  margin: 10px 5px;
  line-height: 20px;
  vertical-align: top;
}
.pika-single .timeAera input[type=range] {
  width: 120px;
  margin-right: 5px;
}
.pika-single .timeAera button {
  float: right;
  width: 50px;
  margin-right: 70px;
  padding: 1px;
  border-radius: 2px;
  background-color: #049cdb;
  color: #fff;
  letter-spacing: 3px;
}
.pika-single .timeAera button:hover {
  background-color: #f89406;
}
