/* =Mixins
-----------------------------------------------------------------------------*/
.text2 {
  overflow: hidden;
  text-overflow: ellipsis;
}
.text1 {
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
}
.text3 {
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  white-space: nowrap;
}
/* =Menu
-----------------------------------------------------------------------------*/
.rmenu {
  position: absolute;
  width: 150px;
  background-color: #f0f0f0;
  box-shadow: #555 0px 0px 20px;
  border-radius: 5px;
  font-size: 1.1em;
}
.rmenu div {
  position: relative;
  height: 22px;
  overflow: hidden;
  padding: 5px 0px 0px 30px;
  line-height: 15px;
}
.rmenu div.separator {
  width: 112px;
  height: 1px;
  overflow: hidden;
  padding: 0;
  margin: 1px 0px 1px 30px;
  background-color: #95B8E7;
}
.rmenu div img,
.rmenu div span.icon {
  position: absolute;
  left: 5px;
  top: 5px;
  width: 16px;
  height: 16px;
}
.rmenu div img:before,
.rmenu div span.icon:before {
  font-size: 16px;
}
.rmenu div .hasChild {
  position: absolute;
  top: 2px;
  right: 0;
  width: 16px;
  height: 16px;
}
.rmenu div.active {
  color: white;
  background-color: #358efd;
  cursor: pointer;
}
.rmenu div.disable {
  color: #A6A6A6;
}
.rmenu div.disable img {
  fiter: gray();
  opacity: 0.4;
}
