/* =Mixins
-----------------------------------------------------------------------------*/
.text2 {
  overflow: hidden;
  text-overflow: ellipsis;
}
.text1 {
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
}
.text3 {
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  white-space: nowrap;
}
/* =Tool
-----------------------------------------------------------------------------*/
.tssbutton {
  display: inline-block;
  outline: none;
  text-align: center;
  text-decoration: none;
  font: 1.4em/100% Arial, Helvetica, '微软雅黑', sans-serif;
  padding: .5em 2em .5em;
  border-radius: 3px;
  letter-spacing: 1px;
}
.tssbutton:hover {
  text-decoration: none;
}
.tssbutton:active {
  position: relative;
  top: 1px;
}
.bigrounded {
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
}
.medium {
  font-size: 1.2em;
  padding: .4em 1em .4em;
}
.small {
  font-size: 1em;
  padding: .15em .8em .2em;
}
.orange {
  color: #fff;
  border: solid 1px #f89406;
  background: #f89406;
  cursor: pointer;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}
.orange:hover {
  background-color: #bc7005;
}
.orange:active {
  color: #e8e8e8;
}
.blue {
  color: #fff;
  border: solid 1px #049cdb;
  background: #049cdb;
  cursor: pointer;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}
.blue:hover {
  background-color: #03719f;
}
.blue:active {
  color: #e8e8e8;
}
.green {
  color: #fff;
  border: solid 1px #8bcf7b;
  background: #8bcf7b;
  cursor: pointer;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}
.green:hover {
  background-color: #64bf4e;
}
.green:active {
  color: #e8e8e8;
}
.red {
  color: #fff;
  border: solid 1px #e36f5f;
  background: #e36f5f;
  cursor: pointer;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}
.red:hover {
  background-color: #da402b;
}
.red:active {
  color: #e8e8e8;
}
.tss-panel {
  position: absolute;
  vertical-align: top;
  box-sizing: border-box;
  border: 1px solid #95B8E7;
  background-color: #fff;
  box-shadow: #555 0px 0px 80px;
}
.tss-panel > .content {
  height: 100%;
  padding-bottom: 21px;
  /* 冲抵掉title的21px */
}
.tss-panel > .content iframe {
  width: 100%;
  height: 100%;
}
.tss-panel > .title {
  position: relative;
  background-color: #049cdb;
}
.tss-panel > .title h2 {
  text-align: left;
  text-indent: 3px;
  font-size: 1.1em;
  height: 21px;
  line-height: 20px;
  cursor: move;
  color: #fff;
}
.tss-panel > .title div {
  position: absolute;
  top: 1px;
  right: 1px;
  height: 19px;
}
.tss-panel > .title div span {
  display: inline-block;
  float: left;
  width: 21px;
  height: 19px;
  margin-left: 5px;
  cursor: pointer;
  background: url(../img/panel.png) no-repeat;
}
.tss-panel > .title div span.min {
  background-position: -29px 0;
}
.tss-panel > .title div span.min:hover {
  background-position: -29px -29px;
}
.tss-panel > .title div span.max {
  background-position: -60px 0;
}
.tss-panel > .title div span.max:hover {
  background-position: -60px -29px;
}
.tss-panel > .title div span.revert {
  background-position: -149px 0;
  display: none;
}
.tss-panel > .title div span.revert:hover {
  background-position: -149px -29px;
}
.tss-panel > .title div span.close {
  background-position: -89px 0;
}
.tss-panel > .title div span.close:hover {
  background-position: -89px -29px;
}
.tss-panel-max {
  top: 0;
  left: 0;
}
.tss-panel-min {
  height: 20px;
  overflow: hidden;
}
.leftbar {
  box-sizing: content-box;
  position: fixed;
  bottom: 36%;
  z-index: 100;
  width: 30px;
  height: 110px;
  background-color: lightgrey;
  border-right: 2px solid #ffc40d;
  border-radius: 3px;
  -moz-transition: all linear 0.3s;
  transition: all linear 0.3s;
}
.leftbar:hover {
  left: 0px;
}
.leftbar-open {
  left: 0;
  border-right: 1px solid transparent;
}
.leftbar-hidden {
  left: -30px;
}
.leftbar .leftbar-menu {
  width: 27px;
  height: 60px;
  padding: 50px 0 0 4px;
  border-radius: 3px;
  opacity: .5;
}
.leftbar .leftbar-menu:hover {
  background-color: #f89406;
  opacity: 1;
  cursor: pointer;
}
.leftbar .leftbar-menu span,
.leftbar .leftbar-menu span:before,
.leftbar .leftbar-menu span:after {
  position: absolute;
  border-radius: 1px;
  height: 5px;
  width: 20px;
  background: #000;
  display: block;
  content: '';
}
.leftbar .leftbar-menu span:before {
  top: -10px;
}
.leftbar .leftbar-menu span:after {
  bottom: -10px;
}
