/* =Mixins
-----------------------------------------------------------------------------*/
.text2 {
  overflow: hidden;
  text-overflow: ellipsis;
}
.text1 {
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
}
.text3 {
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  white-space: nowrap;
}
/* =Tree
-----------------------------------------------------------------------------*/
Tree {
  display: block;
  height: 100%;
  overflow-y: auto;
  padding: 5px;
}
Tree li {
  list-style: none;
  line-height: 22px;
  text-align: left;
  white-space: nowrap;
  /* 树节点复选框 及 伸缩符号 */
  /* 树节点自定义图标 */
}
Tree li ul {
  padding-left: 18px;
}
Tree li a {
  height: 17px;
  padding: 0 1px 3px 3px;
  display: inline-block;
  font-size: 14px;
}
Tree li a:hover {
  text-decoration: underline;
}
Tree li a.active {
  background-color: #FEF7A9;
  font-weight: bold;
}
Tree li a.disable {
  color: #A6A6A6;
}
Tree li span {
  width: 16px;
  height: 16px;
  margin-right: 2px;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}
Tree li > span.checkbox {
  width: 13px;
  height: 13px;
  margin-right: 3px;
  background: url("../img/tree/checkbox.png") no-repeat;
}
Tree li > span.checkstate_0_0 {
  background-position: 0px 0px;
}
Tree li > span.checkstate_1_0 {
  background-position: 0px -36px;
}
Tree li > span.checkstate_2_0 {
  background-position: 0px -24px;
}
Tree li > span.checkstate_0_1 {
  background-position: 0px -72px;
}
Tree li > span.checkstate_1_1 {
  background-position: 0px -48px;
}
Tree li > span.checkstate_2_1 {
  background-position: 0px -48px;
}
Tree li > span.switch {
  width: 18px;
  height: 18px;
}
Tree li > span.node_open {
  background-image: url("../img/tree/minus.gif");
}
Tree li > span.node_close {
  background-image: url("../img/tree/plus.gif");
}
Tree li > span.node_leaf {
  background: none;
  cursor: default;
}
Tree li > div.selfIcon {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 3px;
  vertical-align: middle;
}
Tree li > div.folder {
  background-image: url("../img/tree/folder.gif");
}
Tree li > div.leaf {
  width: 0;
  height: 0;
  background: none;
}
Tree .hidden {
  display: none;
}
