/* = workspace
-----------------------------------------------------------------------------*/
WorkSpace\:Box {
  display: inline-block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  vertical-align: top;
  box-sizing: content-box;
}
WorkSpace\:Box WorkSpace\:TabBox {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 20px;
  padding-left: 3px;
}
WorkSpace\:Box WorkSpace\:TabBox.hasTab {
  border-bottom: 1px solid #95B8E7;
  background-color: #E0ECFF;
}
WorkSpace\:Box WorkSpace\:TabBox WorkSpace\:Tab {
  position: relative;
  display: inline-block;
  height: 18px;
  line-height: 16px;
  color: #555;
  cursor: pointer;
  margin: 1px 4px -1px 0;
  padding-right: 22px;
  border: 1px solid #95B8E7;
  border-radius: 8px 8px 0 0;
  background-color: #E0ECFF;
}
WorkSpace\:Box WorkSpace\:TabBox WorkSpace\:Tab.active {
  color: #333;
  font-weight: bold;
  background-color: #fff;
  border-bottom-color: #fff;
}
WorkSpace\:Box WorkSpace\:TabBox WorkSpace\:Tab div {
  max-width: 100px;
  text-indent: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: keep-all;
  white-space: nowrap;
}
WorkSpace\:Box WorkSpace\:TabBox WorkSpace\:Tab WorkSpace\:Icon {
  position: absolute;
  right: 6px;
  top: 4px;
  width: 10px;
  height: 10px;
  cursor: pointer;
  background-image: url(../img/icon_close.gif);
}
WorkSpace\:Box WorkSpace\:PhaseBox {
  position: relative;
  display: inline-block;
  float: right;
  z-index: 100;
  width: 20px;
  height: 100%;
  overflow: hidden;
  background-color: #E0ECFF;
}
WorkSpace\:Box WorkSpace\:PhaseBox WorkSpace\:Phase {
  display: block;
  width: 18px;
  overflow: hidden;
  margin: 4px 3px 0 -2px;
  border: 1px solid #95B8E7;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
}
WorkSpace\:Box WorkSpace\:PhaseBox WorkSpace\:Phase div {
  max-height: 73px;
  text-align: center;
  padding: 5px 0;
}
WorkSpace\:Box WorkSpace\:PhaseBox WorkSpace\:Phase.active {
  color: #333;
  font-weight: bold;
  background-color: #fff;
}
WorkSpace\:Box WorkSpace\:Page {
  height: 100%;
  overflow: hidden;
  padding: 20px;
  margin-right: 0;
  background-color: #fff;
  border: 1px solid #95B8E7;
  border-top: 0;
  border-right: 0;
}
WorkSpace\:Box WorkSpace\:Page.tight {
  padding: 0;
}
WorkSpace\:Box WorkSpace\:PageStep {
  display: block;
  width: 100%;
  padding: 0;
  text-align: center;
}
