/* = workspace
-----------------------------------------------------------------------------*/
WorkSpace\:Box {
  display: inline-block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  vertical-align: top;
}
WorkSpace\:Box WorkSpace\:TabBox {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 25px;
}
WorkSpace\:Box WorkSpace\:TabBox.hasTab {
  border-bottom: 1px solid #999;
  *background: url(../img/ws/bg_tab_box.gif) repeat-x;
}
WorkSpace\:Box WorkSpace\:TabBox WorkSpace\:Tab {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 25px;
  color: #555;
  cursor: pointer;
  background-image: url(../img/ws/bg_tab_inactive.gif);
}
WorkSpace\:Box WorkSpace\:TabBox WorkSpace\:Tab.active {
  color: #333;
  font-weight: bold;
  background-image: url(../img/ws/bg_tab_active.gif);
}
WorkSpace\:Box WorkSpace\:TabBox WorkSpace\:Tab div {
  width: 90px;
  letter-spacing: 0px;
  padding: 0px 12px 0px 3px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: keep-all;
  white-space: nowrap;
}
WorkSpace\:Box WorkSpace\:TabBox WorkSpace\:Tab WorkSpace\:Icon {
  position: absolute;
  right: 6px;
  top: 4px;
  width: 10px;
  height: 10px;
  cursor: pointer;
  background-image: url(../img/ws/icon_tab_close.gif);
}
WorkSpace\:Box WorkSpace\:PhaseBox {
  position: relative;
  display: inline-block;
  float: right;
  z-index: 100;
  width: 20px;
  height: 100%;
  overflow: hidden;
  margin-left: -4px;
  line-height: 14px;
  border-right: 1px solid #999999;
  border-bottom: 1px solid #999999;
  background: #BEC5E7 url(../img/ws/bg_phase_box.gif) repeat-y;
}
WorkSpace\:Box WorkSpace\:PhaseBox td {
  vertical-align: top;
}
WorkSpace\:Box WorkSpace\:PhaseBox WorkSpace\:Phase {
  display: block;
  width: 20px;
  height: 73px;
  overflow: hidden;
  background-image: url(../img/ws/bg_phase_inactive.gif);
  cursor: pointer;
}
WorkSpace\:Box WorkSpace\:PhaseBox WorkSpace\:Phase div {
  height: 73px;
  padding: 4px 3px 1px 1px;
  text-align: center;
}
WorkSpace\:Box WorkSpace\:PhaseBox WorkSpace\:Phase.active {
  background-image: url(../img/ws/bg_phase_active.gif);
}
WorkSpace\:Box WorkSpace\:Page {
  height: 100%;
  overflow: hidden;
  padding: 20px;
  margin-right: 0px;
  background-color: #F7F8FD;
  border: 1px solid #98989C;
  border-top: 0;
}
WorkSpace\:Box WorkSpace\:Page.tight {
  padding: 0px;
}
WorkSpace\:Box WorkSpace\:PageStep {
  display: block;
  width: 100%;
  padding: 0;
  text-align: center;
}
