@import "variables.less";
@import "mixins.less";

/* =Menu
-----------------------------------------------------------------------------*/
.rmenu { 
	position: absolute; 
	width: 135px; 
	padding: 1px; 
	border: 1px solid @borderColor; 
	background: @white url(../img/menu_bg.gif) repeat-y;

	& div {
		position: relative;
		width: 104px; height: 22px; overflow: hidden;
		padding: 5px 0px 0px 30px; 
		line-height: 12px; 

		&.separator { 
			width: 103px; height: 1px; overflow: hidden; 
			padding: 0; margin: 1px 0px 1px 30px; 
			background-color: @borderColor;
		}  
		& img { position: absolute; left: 2px; top: 2px; width: 16px; height: 16px; }
		& .hasChild {			
			position: absolute; right: -25px; top: 2px;
			width: 16px; height: 16px;
			background: url(../img/icon_has_child.gif) no-repeat left top;
		}
		&.active { 
			background-color: @grayLighter; 
			cursor: pointer; 

			& img { left: 1px; top: 1px; }
			& .hasChild { top: 3px; }
		}
		&.disable {
			color: @disabled;
			& img { fiter: gray(); opacity: 0.4; }
		}
	}
}