<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="../../dist/css/month-picker.css">
</head>
<body>
  <div>demo 1</div>
  <input class="b2-month-picker" type="text">
  <div>demo 2</div>
  <!-- html attribute 局部设置 options 只对当前 month-picker tag 生效 -->
  <input class="b2-month-picker" type="text">
</body>
<script src="../../dist/js/MonthPicker.min.js"></script>
<script>
  // 全局设置 Options 对页面内所有 b2-month-picker tag 有效
  MonthPicker.setOptions({
    start: '2015',
    end: '2022',
    // month: 12,
    // year: 2018
  })
  MonthPicker.onChange((input, value) => {
    input.value = `${value.year}/${value.month}`
  })

  // document.onclick = () => {
  //   MonthPicker.close()
  // }
</script>
</html>