<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="../../dist/css/image-browser.css">
</head>
<body>
  <ul class="ext">
    <li class="header">附件列表：</li>
    <li><a href="./image1.png" target="_blank">image1.png</a></li>
    <li><a href="./383.png" target="_blank">383.png</a></li>
    <li><a href="./384.png" target="_blank">384.png</a></li>
    <li><a href="./385.png" target="5blank">385.png</a></li>
  </ul>
</body>
<script src="../../dist/js/ImageBrowser.min.js"></script>
</html>